[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
